<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="15">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<title>车辆状态</title>
	</head>
	<body>
		<!-- 资料录入 -->
		<div class="container-fluid">
			<div class="row">
				<div class="col align-self-center">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<table class="table table-striped table-info">
									<thead>
										<tr>
											<th scope="col" class="text-center" style="font-size: 3.5rem;">以下不合格车辆车主请到7号窗口领取报告</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>
												<span style="display: inline-block; width: 32%;font-size: 40px;">川A99999</span>
											</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-6">
								<table class="table table-striped table-info">
									<thead>
										<tr>
											<th scope="col" class="text-center" style="font-size: 3.5rem;">以下车辆车主携相关证件到10号窗口录入资料</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>
												<span style="display: inline-block; width: 32%;font-size: 40px;">川A99999</span>
											</th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</body>
</html>
