<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<title>合信通一审</title>
	</head>
	<body>
		<!-- 资料录入 -->
		<div class="container">
			<h1 class="display-1 text-center">合信通talk</h1>
			<div class="row">
				<div class="col align-self-center">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<table class="table table-sm table-bordered table-hover">
									<thead>
										<tr>
											<th scope="col" class="text-center">车牌</th>
											<th scope="col" class="text-center">合格</th>
											<th scope="col" class="text-center">不合格</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row" class="text-center">川A99999</th>
											<td>
												<button type="button" class="btn btn-primary btn-sm btn-block">合格</button>
											</td>
											<td>
												<button type="button" class="btn btn-primary btn-sm btn-block" >不合格</button>
											</td>
										</tr>
										<tr>
											<th scope="row" class="text-center">川A99999</th>
											<td>
												<button type="button" class="btn btn-primary btn-sm btn-block">合格</button>
											</td>
											<td>
												<button type="button" class="btn btn-primary btn-sm btn-block">不合格</button>
											</td>
										</tr>
										<tr>
											<th scope="row" class="text-center">川A99999</th>
											<td>
												<button type="button" class="btn btn-primary btn-sm btn-block">合格</button>
											</td>
											<td>
												<button type="button" class="btn btn-primary btn-sm btn-block">不合格</button>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div class="col-sm-2">
								<p>注意：</p>
								<p>不要重复填入呼叫，如需重复呼叫请点击左侧对应车牌呼叫按钮</p>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<form>
											<div>
												<label>输入车牌号码</label>
												<input />
											</div>
											<button type="button" class="btn btn-primary btn-lg btn-block">呼叫</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</body>
</html>
